<!DOCTYPE html>
<html class="" lang="en">
{% include './blocks/head.twig' %}

<body>
    <div class="wrapper vcard">
        {% include './blocks/pageloader.twig' %}
        {% include './blocks/navbar.twig' %}
        <div class="main-content">

        </div>
        {% include './blocks/footer.twig' %}
    </div>
</body>

</html>