{% extends 'layout.twig' %}

{% block body %}

<body data-spy="scroll" data-target=".bs-docs-sidebar">
	{% include './blocks/navbar.twig' %}

	<div class="alert alert-error" style="margin-top:50px;">
		<button type="button" class="close" data-dismiss="alert">×</button>
		Nothing to see here buddy.
	</div>


	{% include './blocks/footer.twig' %}
</body>

{% endblock %}