<header>
    <div class="container">
        <div class="row top-bar">
            <div class="col-12 col-md-10 order-md-2">
                <div class="header-card">
                    <span class="corner-border-top"></span>
                    <h3 class="headline3">Besos Mission</h3>
                    <span class="corner-border-bottom"></span>
                </div>
            </div>
            <div class="col-6 col-md-1 order-md-1">
                <div class="header-card">
                    <span class="corner-border-top"></span>
                    <a href="/"><img src="assets/media/besos.png" alt="Logo" class="img-fluid logo" /></a>
                    <span class="corner-border-bottom"></span>
                </div>
            </div>
            <div class="col-6 col-md-1 order-md-3">
                <div class="header-card">
                    <span class="corner-border-top"></span>
                    <button class="main-menu-toggle collapsed" type="button" data-toggle="collapse" href="#main-menu"><i
                            class="fa fa-bars"></i></button>
                    <span class="corner-border-bottom"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="main-menu" class="collapse megamenu">
        <div class="container">
            <div class="menu-card">
                <div class="row text-center">
                    <div class="col-6 col-md">
                        <a href="https://github.com/besosmission" target="_blank" class="headline3">Visit Github</a>
                    </div>
                    <div class="col-6 col-md">
                        <a href="https://gofund.me/895e5e0e" target="_blank" class="headline3">Check our GoFundMe</a>
                    </div>
                    <div class="col-6 col-md">
                        <a href="https://discord.gg/SNMrV8mtpz" target="_blank" class="headline3">Join us on Discord</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="carouselUSPs" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselUSPs" data-slide-to="0" class="active"></li>
        <li data-target="#carouselUSPs" data-slide-to="1"></li>
        <li data-target="#carouselUSPs" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="text-center p-5 pb-7">
                <h3>It's Time To Collaborate</h3>
                <p>Blue Origin New Shepard Is Finally Going To Space </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center p-5 pb-7">
                <h3>Launching From The Northwest Facility</h3>
                <p>In Junsele, Sweden</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="text-center p-5 pb-7">
                <h3>Powered By A Strong Weather Balloon</h3>
                <p>Equiped With A GoPro And A GPS Navigation System</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselUSPs" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselUSPs" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>