<div class="page-loader">
	<div class="page-loader-inner">
		<div class="page-loader-logo"><img src="assets/root/android-chrome-512x512.png" width="369" height="141"
				alt="images.altfenix" class="logo" /></div>
		<div class="page-loader-indicator">
			<div class="loader"></div>
		</div>
	</div>
</div>